body {
    margin: 0;
    padding: 0;
    font-family: "Baskerville Old Face", serif;
    font-size: 24px;
    background: white;
}

.page {
    display: none;
    text-align: center;
    padding: 20px;
    min-height: 100vh; /* Assure que chaque page prend toute la hauteur */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pousse le bouton Home vers le bas */
}

.page.active {
    display: block;
}

.title {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right, #001f3f, #ffb6c1, #66d1d1);
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    margin: 20px auto;
}

.nav-btn, .home-btn {
    font-size: 28px;
    padding: 30px 60px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #66d1d1;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.nav-btn:hover, .home-btn:hover {
    background-color: #ffb6c1;
}

.button-block {
    margin: 30px auto;
}

.btn-img {
    display: block;
    width: 450px;
    height: 300px;
    margin: 15px auto;
    object-fit: cover;
    border-radius: 30px;
}

.page-img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    margin: 10px auto 30px;
}

/* LISTES AVEC PUCES COLORÉES */
ul {
    list-style: none;
    padding-left: 50px;
    text-align: left;
    margin-bottom: 20px;
}

li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
}

li::before {
    content: '•';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 28px;
    line-height: 1;
    color: #001f3f; /* bleu nuit */
}

li:nth-child(2n)::before {
    color: #ffb6c1; /* rose pastel */
}

li:nth-child(3n)::before {
    color: #66d1d1; /* turquoise clair */
}

/* Pousser le bouton 'Home' vers le bas de la page */
.home-btn {
    align-self: center;
    margin-top: auto; /* Ce style pousse le bouton vers le bas */
}
